/*footer css*/
.footer{
    background-color: black;
    width: 92.5vw;
    color: aliceblue;
    margin: 0 auto;
    padding: 50px 0;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer a{
    text-decoration: none;
    color: #5d7fb9;
    margin-right: 18px;
    font-size: 12.6px;
}


.footer ul>li{
    list-style-type: none;
    display: inline-block;
    font-weight: bold;
}

.footer-info img{
width: 84px;
display: inline-block;
float: left;
}

.footer-info span{
    display: inline-block;
    text-align: center;
    font-size: 15px;
}

.footer-info{
vertical-align: middle;
}

#footer-links{
    margin: 20px 0;
    padding-left: 0;
    position: absolute;
    right: 0;
    margin-right: 42px;
}

/*payane footer css*/


