/* start footer css*/
.footer{
    background-color: black;
    width:1400px;
    color: aliceblue;
    margin: 0 auto;
    padding: 50px 0;
    box-sizing: border-box;
    position: absolute;
     /*baraye vasat chin kardsne container footer 
    lazem shod ke az 3 code: bottom , left va right ke meghdare
    anha 0 boud estefade konam */
    bottom: 0;
    right: 0;
    left: 0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer a{
    text-decoration: none;
    color: #5d7fb9;
    margin-right: 18px;
    font-size: 12.6px;
}


.footer ul>li{
    list-style-type: none;
    display: inline-block;
    font-weight: bold;
}

.footer-info img{
width: 82px;
display: inline-block;
float: left; /*dadane float:left be img baes shod span hae ke dar 1 div ba img 
bodan roye 1 khate moshtarak gharar begiran  */
}

.footer-info span{
    display: inline-block;
    font-size: 14px;
}


#footer-links{
    margin: 10px 0;
    padding-left: 0;
    position: absolute;
    right: 0;
    margin-right: 42px;
}

/*payane footer css*/


